body {
  font-family: "Roboto", sans-serif;
  background-repeat: no-repeat;
  background-color: #6b8cce;
}

a {
  text-decoration: none;
  margin-left: 4px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 20px;
  width: 500px;
}

.source-code a {
  color: #ffffff;
  margin: 0 auto;
  font-size: 12px;
}

.source-code {
  color: black;
  font-size: 12px;
}
