h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 60px;
  font-weight: 100;
  color: #4162a4;
  margin-top: 5px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.7;
}

li:first-letter {
  text-transform: capitalize;
}

small {
  font-size: 12px;
}

canvas {
  margin-right: 5px;
  margin-top: 5px;
  display: inline-block;
  opacity: 0.7;
}

.humidity {
  margin-top: 12px;
}

.Weather {
  font-family: "Roboto", sans-serif;
}
.form-control {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  width: 270px;
}

.btn-primary {
  background-color: #6b8cce;
  border-color: #6b8cce;
  font-size: 12px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  padding: 6px;
  width: 80px;
  margin-left: 60px;
}

.btn-primary:hover {
  background-color: #0c3483;
  border-color: #0c3483;
}

.float-left {
  float: left;
}

.weather-temperature strong {
  font-family: "Bebas Neue", cursive;
  font-size: 55px;
  color: #4162a4;
  margin-right: 5px;
}

.weather-temperature small {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  top: -22px;
}
